<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="mockOrderSender" class="vn.com.vndirect.order.MockOrderServiceSender" />
    <bean id="mockStockService" class="vn.com.vndirect.stock.MockStockInfoService" />

    <bean id="appState" class="vn.com.vndirect.app.ApplicationState" />

    <bean id="orderServiceApplicationListener" class="vn.com.vndirect.zk.OrderServiceApplicationListener">
        <property name="appState" ref="appState" />
    </bean>

    <bean id="orderServiceResource" class="vn.com.vndirect.rest.resource.OrderServiceResource">
        <property name="serviceSender" ref="mockOrderSender" />
        <property name="stockService" ref="mockStockService" />
        <property name="appState" ref="appState" />
    </bean>

    <bean id="statisticsServiceResource" class="vn.com.vndirect.rest.resource.StatisticsServiceResource">
        <property name="template" ref="redisTemplate" />
        <property name="redisOrderKeyName" value="${redis.key.order}" />
        <property name="redisAccKeyName" value="${redis.key.acc}" />
        <property name="maxKeep" value="${statistics.maxKeep}" />
        <property name="appState" ref="appState" />
    </bean>
</beans>
